*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
    border-radius: 5px;
}

.border:hover{
    border: 1.5px solid white;
}

/** BOX2    **/

.nav-address{
    padding: 10px;
}
.add-icon{
    display: flex;
}


.deliverto{
    margin-left: 15px;
    color:#CCCCCC;
    font-size: 0.8rem;
}

.country{
    margin-left: 3px;
    font-size: 1rem;

}

/**   SEARCH BOX  **/


.nav-search{
    display: flex;
    justify-content:space-evenly;
    background-color:black;
    width: 720px;
    height: 40px;
    border-radius: 4px;

}

.border2{
    border: 2px solid transparent;
    border-radius: 6px;
}

.border2:hover{
    border: 2px solid #febd68;
}

.search-select{
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 55px;
    padding: 5px;
    text-align: center;
    font-size: 14px;
    border:none;

}

.search-input{
    width:100%;
    border: none;
    font-size: 14px;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    color: #0f1111;
}

/**       BOX 4           **/

span{
    font-size: 0.8rem;
}

.nav-second{
    font-size: 1rem;
    font-weight: 700;
}

/** BOX 6   **/

.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 1rem;
    font-weight: 700;
    padding: 12px;
}



/** panel2 **/

.panel{
    height: 39px;
    background-color: #232f3e;
    color: white;
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding-left: 11px;
}
/** box1 **/

.panel-all{
    font-weight: 700;
    padding: 9px;
}

/**   box2   **/


.panel-options{
    display: flex;
}

.todaydeal{
    padding:9px;
}

.service{
    padding:9px;
}

.registry{
    padding:9px;
}

.gift{
    padding:9px;
}

.sell{
    padding:9px;
}

/**     hero section   **/

.hero-section{
    background-image: url("hero_image.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.hero-msg{
    background-color: #f5f6f6;
    height: 40px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 80%;
    margin-bottom: 40px;


}

.hero-msg a{
    color: #007185;
}


/**   shop section **/

.shop-section{
    background-color: #e2e7e6;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.box{
    background-color: white;
    height: 400px;
    width: 23%;
    margin-top: 15px;
}

.box-content{
    margin: 15px;
}

.box-content p{
    color: #007185;
}
.box-image{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/**  footer   **/

/**   footer panel1  **/
footer{
    margin-top: 20px;
}
.foot-panel1{
    height: 50px;
    background-color: #37475A;
    color: white;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


/**    footer panel 2  **/
.foot-panel2{
    height: 300px;
    background-color: #232f3e;
    color: #dddddd;
    display: flex;
    justify-content: space-evenly;
}

ul{
    margin-top: 20px;
}

ul a{
    display: block;
    margin-top: 10px;
    font-size: 1rem;
}

ul p{
    font-weight: bold;
    font-size: 1.2rem;

}

/**   footer panel 4 **/

.foot-panel4{
    height: 70px;
    background-color: #232f3e;
    color: #dddddd;
    font-size: 0.8rem;
    padding: 25px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.pages{
    display:flex;
    justify-content: space-evenly;
    text-align: center;
}

.copyright{
    text-align: center;
    padding: 20px;
}